*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 10vh;
    width: 100%;
}
.nav{
    height:10vh;
    width:100%;
    display: flex;
}
.logo img{
    height: 10vh;
    width: 55px;
    margin-left: 10%;
}
.logo{
    height:10vh;
    width: 100px;
    margin-left: 1%;
    justify-content: center;
    display: flex;
}
.logo span{
    height:10vh;
    width: 28px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo span:hover{
    text-shadow: 0.5px 0.5px gray;
}
.search{
    height: 10vh;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search input{
    height:5.5vh;
    width:60%;
    outline: none;
    padding: 2px 8px;
    border-right: 0;
    border-top:1px solid rgba(0,0,0,0.5);
    border-left:1px solid rgba(0,0,0,0.5);
    border-bottom:1px solid rgba(0,0,0,0.5);
}
.search span{
    height:5.5vh;
    width:27px;
    background-color: rgba(0,0,0,0.1);
    padding: 4px 1px;
    border-top:1px solid rgba(0,0,0,0.5);
    border-right:1px solid rgba(0,0,0,0.5);
    border-bottom:1px solid rgba(0,0,0,0.5);
    cursor: pointer;
}
.search span:hover{
    text-shadow: 0.5px 0.5px gray;
}
.search input:focus{
    border-top:1.5px solid black;
    border-left:1.5px solid black;
    border-bottom:1.5px solid black;
    
}
.search input:focus + span{
    border-top:1.5px solid black;
    border-right:1.5px solid black;
    border-bottom:1.5px solid black;
    padding: 3.2px 1px;
}
.menu{
    height: 10vh;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.menu span{
    height:10vh;
    width: 28px;
    display: flex;
    align-items: center;
    padding:0 1px;
    cursor: pointer;
}
.menu span:hover{
    text-shadow: 0.5px 0.5px gray;
}
.main{
    height:90vh;
    width: 100%;
    display: flex;
}
.side-bar{
    height:90vh;
    width: 16%;
    display: flex;
    flex-direction: column;
}
.side-bar .links{
    display: flex;
    align-items: center;
    margin:5px 0;
    padding: 5px;
    cursor: pointer;
}
.links:hover{
    background-color: rgba(0,0,0,0.1);
}
.side-bar .links span{
    font-size: 1.2vw;
    margin:0 5px;
}
.side-bar .links .font{
    font-size: 2vw;
}
.main .main-section{
    height: 90vh;
    width:90%;
    border-top: 1px solid lightgray ;
    background-color: rgb(249,249,249);
    scroll-behavior: smooth;
    overflow-x: scroll;
}
.main-section .youtube_videos{
    height: 90vh;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.main-section h3{
    height:20px;
    width: 100%;
    padding:20px 30px;
    margin-bottom: 20px;
}
.frame{
    height:250px;
    width:320px;
}
.main-section .caption{
    font-size:15px;
    padding:5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}